
.navbar-icon-tuition-benefit-application:before {
    background-image: url("icons/787878/puzzlepiece.svg");
}
.no-svg .navbar-icon-tuition-application-benefit:before {
    background-image: url("icons/787878/puzzlepiece.png");
}
.navbar-icon-tuition-benefit-application:active:before,
.navbar-icon-tuition-benefit-application.navbar-active:before {
    background-image: url("icons/000000/puzzlepiece.svg");
}
.no-svg .navbar-icon-tuition-benefit-application:active:before,
.no-svg .navbar-icon-tuition-benefit-application.navbar-active:before {
    background-image: url("icons/000000/puzzlepiece.png");
}

/* Blue button */
input[type="submit"][id^="edit-preview"].button-blue {
    cursor: pointer;
    border-radius: 0;
    border: none;
    padding: 6px 10px;
    margin-bottom: 1em;
    margin-right: 1em;/* LTR */
    color: #fff;
    text-align: center;
    font-weight: normal;
    font-size: 1.077em;
    font-family: "Lucida Grande",Verdana,sans-serif;
    background: #0074BD;
    transition: all, 0.3s;
}

input[type="submit"][id^="edit-preview"].button-blue:hover {
    background: #004c99;
    border-radius: 0;
    border: none;
    color: #fff;
}

input[type="submit"][id^="edit-preview"].button-blue:active {
    border-radius: 0;
    border: none;
    color: #fff;
}

input[type="submit"][id^="edit-preview"].button-blue:focus {
    outline: 3px solid #D2E4F7;
}

/* Orange button */
input[type="submit"][id^="edit-cancel"].button-orange {
    cursor: pointer;
    border-radius: 0;
    border: none;
    padding: 6px 10px;
    margin-bottom: 1em;
    margin-right: 1em;/* LTR */
    color: #fff;
    text-align: center;
    font-weight: normal;
    font-size: 1.077em;
    font-family: "Lucida Grande",Verdana,sans-serif;
    background: #f69231;
    transition: all, 0.3s;
}

input[type="submit"][id^="edit-cancel"].button-orange:hover {
    background: #ef6114;
    text-decoration: none;
    border-radius: 0;
    border: none;
    color: #fff;
}

input[type="submit"][id^="edit-cancel"].button-orange:active {
    border-radius: 0;
    border: none;
    color: #fff;
}

input[type="submit"][id^="edit-cancel"].button-orange:focus {
    outline: 3px solid #FFE8D2;
}


/* Green button */
input[type="submit"][id^="edit-submit"].button-green {
    cursor: pointer;
    border-radius: 0;
    border: none;
    padding: 6px 10px;
    margin-bottom: 1em;
    margin-right: 1em;/* LTR */
    color: #fff;
    text-align: center;
    font-weight: normal;
    font-size: 1.077em;
    font-family: "Lucida Grande",Verdana,sans-serif;
    background: #4d8f46;
    transition: all, 0.3s;
}

input[type="submit"][id^="edit-submit"].button-green:hover {
    background: #0a6700;
    border-radius: 0;
    border: none;
    color: #fff;
}

input[type="submit"][id^="edit-submit"].button-green:active {
    border-radius: 0;
    border: none;
    color: #fff;
}

input[type="submit"][id^="edit-submit"].button-green:focus {
    outline: 3px solid #D0E8CE;
}

/* Red button */
input[type="submit"][id^="edit-remove"].button-red {
    cursor: pointer;
    padding: 6px 10px;
    border-radius: 0;
    border: none;
    margin-bottom: 1em;
    margin-right: 1em;/* LTR */
    color: #fff;
    text-align: center;
    font-weight: normal;
    font-size: 1.077em;
    font-family: "Lucida Grande",Verdana,sans-serif;
    background: #b73939;
    transition: all, 0.3s;
}

input[type="submit"][id^="edit-remove"].button-red:hover {
    background: #990000;
    border-radius: 0;
    border: none;
    color: #fff;
}

input[type="submit"][id^="edit-remove"].button-red:active {
    border-radius: 0;
    border: none;
    color: #fff;
}

input[type="submit"][id^="edit-remove"].button-red:focus {
    outline: 3px solid #FFD8D8;
}
